<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdd.test.dao.bus.SysuserinfoBusMapper">
    <resultMap id="VoBaseResultMap" type="com.wdd.test.bean.SysuserinfoVo"  extends="com.wdd.test.dao.SysuserinfoMapper.BaseResultMap" >
        <result column="nc_userId" property="ncUserId" jdbcType="VARCHAR" />
        <result column="summary" property="summary" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByName"  resultMap="VoBaseResultMap">
       select  userid, agentID, password, usertype, username, sex, cardID, mobile, nickname, is_nickname,




    status, createtime, updatetime, pwd_last_datetime from  test.f_sysuserinfo WHERE username=#{name}

    </select>
</mapper>